<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <% ActiveAdmin.application.stylesheets.each do |style, options| %>
        <%= stylesheet_link_tag style, options %>
    <% end %>
    <% ActiveAdmin.application.javascripts.each do |path| %>
        <%= javascript_include_tag path %>
    <% end %>

    <%= favicon_link_tag ActiveAdmin.application.favicon if ActiveAdmin.application.favicon %>

    <% ActiveAdmin.application.meta_tags_for_logged_out_pages.each do |name, content| %>
        <%= tag(:meta, name: name, content: content) %>
    <% end %>

    <%= csrf_meta_tag %>
  </head>
  <body class="active_admin logged_out <%= controller.action_name %>">
    <div id="wrapper">
      <div id="content_wrapper">
        <% unless flash.empty? %>
        <div class="flashes">
          <% flash.each do |key, value| %>
            <div class="flash flash_<%= key  %>"><%= value %></div>
          <% end %>
        </div>
        <% end %>
        <div id="active_admin_content">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>